*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    margin: 15%;
    margin-top: 100px;
    font-size: 1.2rem;
}
h1, h2, h3, h4{
    /* border: 2px solid red; */
    margin: 0;
}
h2{
    font-size: 4rem;
    padding-bottom: 50px;
}
h3{
    font-size: 2rem;
    margin-top: 60px;
}
h4{
    font-size: 1.5rem;
}
.number{
    position: absolute;
    font-size: 7rem;
    font-weight: 900;
    left: 8%;
    opacity: 0.3;
}

table, th, td{
    border: 1px solid black;
}

.prototype{
    width: 300px;
}
#one{
    color: #4281a4;
}
#two{
    color: #d4b483;
}
#three{
    color: #2d3142;
}
#four{
    color: #c1666b;
}
#five{
    color: #48a9a6;
}