*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    margin: 15%;
    margin-top: 100px;
    font-size: 1.5rem;
    font-weight: 200;
}
h1, h2, h3, h4{
    /* border: 2px solid red; */
    margin: 0;
}
h2{
    font-size: 4rem;
    padding-bottom: 50px;
}
h3{
    font-size: 2.5rem;
    margin-top: 60px;
}
h4{
    font-size: 2rem;
}
.number{
    position: absolute;
    font-size: 7rem;
    font-weight: 900;
    left: 8%;
    opacity: 0.7;
}

table, th, td{
    border: 2px solid black;
}

.prototype{
    width: 300px;
}
#one{
    color: #70AEF9;
    
}
#two{
    
    color: #BBFFB2;
}
#three{
    color: #FF914C;
}
#four{
    color: #E8B2FE;
}
#five{
    color: #FF1F20;
    
}
#persona_img{
    width: 700px;
}
.w{
    width: 300px;
    height: 600px;
}