*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    font-size: 1rem;
    font-weight: 200;
}
.page_content{
    margin: 5%;
    margin-top: 100px;
}
h1, h2, h3, h4{
    position: relative;
    margin: 0;
    z-index: 2;
}
h2{
    font-size: 6rem;
    padding-bottom: 50px;
    font-weight: 900;
    line-height: 1;
}
h3{
    font-size: 2.5rem;
    margin-top: 60px;
}
h4{
    font-size: 2rem;
}
.number{
    position: absolute;
    font-size: 10rem;
    font-weight: 900;
    left: 2%;
    opacity: 0.5;
    z-index: 1;
}

table, th, td{
    border: 2px solid black;
}

.prototype{
    width: 200px;
    height: 400px;
}
#one{
    color: #70AEF9;
    
}
#two{
    
    color: #BBFFB2;
}
#three{
    color: #FF914C;
}
#four{
    color: #E8B2FE;
}
#five{
    color: #FF1F20;
    
}
#persona_img{
    width: 800px;
}
.w{
    width: 200px;
    height: 400px;
}
#name{
    font-size: 1rem;
    font-weight: 600;
    position: sticky;
    top: 0;
    text-align: right;
    padding: 30px;
}
p{
    position: relative;;
    max-width: 500px;
    z-index: 2;
}
.questions{
    font-style: italic;
    line-height: 2rem;
    text-align: center;
    max-width: 800px;
}
#thanks{
    font-style: italic;
    text-align: center;
}
#link{
    padding-top: 75px;
    font-size: 1.25rem;
}